/* -----------------------------------*/
/* --------->>> General <<<-----------*/
/* -----------------------------------*/

body{
    font-family: 'Raleway', sans-serif;
}


/* -----------------------------------*/
/* --------->>> hero image <<<--------*/
/* -----------------------------------*/

.hero{
    height: 100vh;
    background: url(../assets/img/hero5.jpg) no-repeat fixed;
    background-size: cover;
}

.hero-text{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 18em;
}

.hero-title{
    font-family: 'Pacifico', cursive;
    font-size: 90px;
    color: #ffffff;
    margin-bottom: 0.5em;
}

.hero-link{
    display: block;
    width: 250px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 22px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    padding: 4px 12px;
    background-color: rgba(40,40,40,0.5);
    transition: all 0.3s ease-in-out;
}

.hero-link:hover{
    color: #000000;
    background: #ffffff;
    text-decoration: none;
}

/* -----------------------------------*/
/* ------->>> custom navbar <<<-------*/
/* -----------------------------------*/
.navbar-default {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.navbar-brand{
    line-height: 60px;
    height: 64px;
    padding-top: 6px;
}

.nav.navbar-nav.navbar-right li a{
    color: #ffffff;
    font-weight: 400;
    line-height: 80px;
    height: 64px;
    padding-top: 0;
}

.nav.navbar-nav.navbar-right li a:hover {
    border-bottom: 1px solid #ffffff;
}

/* -----------------------------------*/
/* --------->>> sections <<<----------*/
/* -----------------------------------*/

.section-content{
    padding-top: 50px;
}

/* -----------------------------------*/
/* ------------>>> over <<<-----------*/
/* -----------------------------------*/

.box{
    margin-top: 1em;
    margin-bottom: 4em;
}

.box:hover .over-icon{
    color: #4CAF50;
}

.boxes{
    margin-top: 3em;
}

.over-box{
    text-align: center;
}

.over-icon{
    font-size: 42px;
    margin-bottom: 2em;
    transition: all 0.3s ease-in-out;
}

/* -----------------------------------*/
/* ----------->>> Team <<<------------*/
/* -----------------------------------*/

.team-box{
    text-align: center;
}

.profile-pic{
    width: 100px;
    height: 100px;
    display: inline-block;
}


/* -----------------------------------*/
/* ---------->>> counter <<<----------*/
/* -----------------------------------*/

#counter{
    background: url(../assets/img/hero.jpg) no-repeat fixed;
    height: 200px;
    background-size: cover;
}